body {
  box-sizing: border-box;
  background-image: url('https://images.pexels.com/videos/856460/free-video-856460.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500') ;
  background-size: contain;
  background-position: absolute;
}

.navig {
  background-color:brown;
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  color: black;
  margin: 50px;
  text-decoration: none;
  font-weight: 700;
  }

  .link:hover {
    opacity: 50%;
  }

  p {
    text-align: center;
  }
  h1 {
    font-size: medium;
    padding-top: 50px;
    font-size: xx-large;
    text-align: center;
}
/* .video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index:-1;
} */
.article__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.article__box {
    display: flex;
    width:80%;
    border: 2px solid;
    border-color: brown;
    background-color: burlywood;
    margin-top: 20px;
    align-items: center;
    border-radius: 50px;
}

.dasKomment {
  margin-top: 20px;
}